.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: flex-end;
}

.menu_open {
  display: flex;
}

.menu__container {
  width: 100%;
  max-width: 520px;
  height: 1024px;
  background-color: #FAFAFA;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__close {
  background: center/30px 30px url('../../images/close.svg') transparent no-repeat;
  min-height: 22px;
  width: 22px;
  box-shadow: none;
  border: none;
  align-self: flex-end;
  margin: 22px 22px 0 0;
  padding: 0;
  transition: opacity 0.6s linear;
}

.menu__close-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.menu__close-button:focus {
  outline: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu__place {
    min-height: 780px;
  }

  .menu__close-button {
    margin: 14px 14px 0 0;
  }
}