.data {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.data_project {
  min-height: 608px;
  background-color: #FAFAFA;
}

.data_techs {
  min-height: 625px;
  background-color: #F5F5F5;
}

.data_about {
  min-height: 654px;
  background-color: #FAFAFA;
}

.data__container {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  background-color: transparent;
}

.data__container_project {
  padding: 110px 70px;
}

.data__container_techs {
  padding: 100px 70px;
}

.data__container_about {
  padding: 110px 70px 100px;
}

.data__title {
  margin: 0;
  padding: 0 0 23px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.data__link {
  margin: 0;
  padding: 0;
  width: 0;
  display: block;
  visibility: hidden;
  line-height: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .data_project {
    min-height: 585px;
  }

  .data_techs {
    min-height: 567px;

  }


  .data__container_project {
    padding: 90px 50px;
  }

  .data__container_techs {
    padding: 90px 50px;
  }

  .data__container_about {
    padding: 90px 50px;
  }

  .data_about {
    min-height: 514px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .data_project {
    min-height: 641px;
  }

  .data_techs {
    min-height: 651px;
  }

  .data__container_techs {
    padding: 70px 18px;
  }

  .data__container_about {
    padding: 70px 14px;
  }

  .data__title {
    padding: 0 0 28px 0;
    font-size: 18px;
  }

  .data_about {
    min-height: 834px;
  }

  .data__container_project {
    padding: 70px 18px;
  }

}